[Desktop Entry]
Name[en_US]=Flame
Version=v1.0.0-rc2
Comment=Run flame executable file
Type=Application
Terminal=true
Path=/home/eric/Flame_installer_linux/
Icon=/home/eric/Flame_installer_linux/exec/flame_icon_round.png
Exec=/home/eric/Flame_installer_linux/flame_api.sh
Categories=Application
